//colors
$color_zeus_approx: #231f20;
$concrete: #f2f2f2;
$white: #fff;
$color_chestnut_rose_approx: #cf625d;
$color_japonica_approx: #da7570;
$color_chestnut_rose_78_approx: rgba(207,98,93,0.78);

//fonts
$font_0: Roboto;
$font_1: sans-serif;

//urls
$url_0: url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
$url_1: url(src/img/main_logo.png);
$url_2: url(src/img/hero/main_hero.png);

@import $url_0;
html {
	margin: 0;
}
body {
	margin: 0;
	font-family: $font_0, $font_1;
	font-size: 22px;
	font-weight: 100;
	line-height: 25px;
	color: $color_zeus_approx;
	background-color: $concrete;
}
* {
	outline: 0;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	&:before {
		outline: 0;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
	}
	&:after {
		outline: 0;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
	}
}
h1 {
	font-size: 50px;
	font-weight: 300;
	margin-top: 0;
}
figure {
	margin: 0;
}
header {
	background-color: $white;
	padding: 12px 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	z-index: 1000;
	.content {
		padding: 0;
	}
}
.hero-content {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	padding: 60px 0 80px;
	overflow: hidden;
	z-index: 10000;
}
.content {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	padding: 80px 0;
	overflow: hidden;
}
section {
	position: relative;
}
section-white {
	background-color: $white;
}
.main-logo {
	background: $url_1 no-repeat left center;
	width: 83px;
	height: 45px;
	text-indent: 9999px;
}
.main-menu {
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	li {
		font-size: 17px;
		font-weight: 300;
		text-transform: uppercase;
		margin: 0 16px;
		display: inline-block;
	}
}
.btn {
	padding: 11px 15px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	cursor: pointer;
}
.btn-menu {
	background-color: $color_chestnut_rose_approx;
	color: $white;
	&:hover {
		background-color: $color_japonica_approx;
	}
}
.hero {
	margin-top: 71px;
}
.main-hero {
	background: $url_2 no-repeat 100% 100% fixed;
	background-size: cover;
}
.hero-overlay {
	background-color: $color_chestnut_rose_78_approx;
}
canvas {
	position: absolute;
	top: 0;
}
.hero-logo {
	margin-bottom: 15px;
}
.hero-place {
	font-size: 21px;
	font-weight: 400;
	line-height: normal;
	color: $white;
	margin-bottom: 20px;
}
.hero-header {
	color: $white;
	font-size: 51px;
	font-weight: 100;
	line-height: normal;
	span.highlight {
		font-weight: 300;
	}
}
.text-center {
	text-align: center;
}
.pull-left {
	float: left !important;
}
.pull-right {
	float: right !important;
}